html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}

html {height: 100%;}

body {
margin: 0;
padding: 0;
display: grid;
place-items: center;
height: 100%;
}

canvas {

	aspect-ratio: 4/3;
	height: 95vh;
	width: auto;
}

svg {
	display: none;
}
